#data{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100vw;
    padding: 10px;
    background-color: white;
    justify-content: space-around;
    border: 1px;
    border-radius: 12px;
    align-self: center;
}
#centre{
    align-items: center;
}
#img{
    height: 30px;
   float: left;
   margin-top: 10px;
}
#dat{
    background-color:#fff;
    border-radius: 10px;
    margin:20px;
    width: 120px;
    max-height: 50px;
    box-shadow: -1px 1px 10px 0px rgb(0 0 0 / 50%);
 
    text-align: center;
}




p{
    margin-top: 10px;
    font-size: 12px;
}


@media only screen and (max-width: 400px) {
    #dat{
        background-color:#fff;
        border-radius: 10px;
        margin:0px;
        margin-top: 10px;
        width: 70px;
        max-height: 50px;
        box-shadow: -1px 1px 10px 0px rgb(0 0 0 / 50%);
     
        text-align: center;
    }
    
    #img{
        height: 20px;
       float: left;
       margin-top: 10px;
    }
    p{
        margin-top: 6px;
        font-size: 8px;
    }
    
  }